// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    margin-left: 20px;
  }
  .dropdown-item {
    margin-left: 20px;
    padding: 10px 5px;
    border: 1px #999 solid;
    text-decoration: none;
  }
}